@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 2s ease-in-out;
  -webkit-animation: slideInFromLeft 2s ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInFromRight {
  animation: slideInFromRight 2s ease-in-out;
  -webkit-animation: slideInFromRight 2s ease-in-out;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideInFromTop {
  animation: slideInFromTop 2s ease-in-out;
}
